   :root {
      --UOB_red: #a6192e;
    }

    body{
      font-family: 'Open Sans';
      font-size: 14px;
    }

    h1 {
      font-family: 'Sora';
      font-weight: 600;
      color: var(--UOB_red);
      font-size: clamp(18px, 1.6vw, 22px) !important;
      position: relative;
      top: 12px;
     }

     h2{
      font-family: 'Open Sans';
      margin-top: 25px;
      font-size: 20px;
     }

     h3{
      font-family: 'Open Sans';
      font-size: 18px;
      color: black;
     }

     .navbar-brand {
      display: flex;
      align-items: flex-start;
     }

     .navbar-brand img {
      height: clamp(14px, 3vw, 34px) !important;
      width: auto;
     }

     .navbar {
      padding-top: 0;
      padding-bottom: 0;
     }

     .navbar-nav {
      flex-wrap: nowrap !important;
      flex-direction: row !important;
     }

     .nav-link {
      display: flex;
      align-items: center;
      font-family: 'Open Sans';
      margin-top: 25px;
      font-size: clamp(14px, 0.8vw, 20px) !important;
     }

     .nav-link:hover{
      color:  var(--UOB_red) !important;
     }

     .nav-link.active{
      color: var(--UOB_red) !important;
      font-weight: 600 !important;
     }

     /* stack virtualselectinput above dropdownbutton */

     .vscomp-dropbox-container {
      z-index: 10000 !important;
     }

     .dropdown-menu {
      z-index: 9999 !important;
     }

